/*reseter*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.35s ease;
    text-decoration: none;
    list-style-type: none;
}
.container{
    /* max-width: 940px !important; */
}
header{
    background-color: #343a40
}
header nav{
    height: 60px;
    z-index: 15;
}
header nav .slider1{
    /* background-color: rgb(86, 86, 86); */
    text-align: center;
}
header nav li a{
    color: #fff !important;
    text-transform: uppercase;
    /* font-size: 0.9em; */
    font-weight: bold;
  }
  
  nav ul li{
    height: 59px;
    padding: 10px 5px;
  }
  nav ul li a{}
  nav ul li:hover{
    background-color: #ffe300;
    color: #212121;
  }
  nav ul li a:hover{
    color: #212121 !important;
  }
  /* carousel*/
.carousel{}

#maincarousel .carousel-item img{
    height: 656px !important;
}
.carousel .carousel-caption{
    background-color: #000000b8;
    width: 450px;
    left: 35%;
    bottom: 50%;
    padding: 25px;
}
.carousel .carousel-caption h1{
    color: #ffe300;
    font-size: 2.4rem;
}
.carousel .carousel-caption h3{
    color: #fff;
    font-size: 1.8rem;
}
#maincarousel .carousel-control-prev{
    width: 50px;
    height: 50px;
    background-color: #000000;
    left: 78%;
    top: 92%;
    opacity: 1;
}
#maincarousel .carousel-control-next{
    width: 50px;
    height: 50px;
    background-color: #000000;
    left: 83%;
    top: 92%;
    opacity: 1;
}
#maincarousel .carousel-control-prev:hover{
    background-color: #ffe300;
}
#maincarousel .carousel-control-next:hover{
background-color: #ffe300;
}

/* devider1*/

.devider1{
    background-color: #565656;
    padding: 50px 0px;
}
.devider1 .box-icon{
    float: left;
}
.devider1 i{
    width: 50px;
    height: 50px;
    background-color: black;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 27px;
}
.devider1 .box-text{
    float: right;
    width: 280px;
}
.devider1 .box-text h3{
    color: #ffe300;
    font-size: 20px;
}
.devider1 .box-text p{
    color: #fff;
    font-size: 15px;
}

/* carousel2*/
section.carous2{
    background-color:#212121;
    padding: 50px 0px;
}
#carousel2 h2{
    color: #ffe300;
    font-size: 1rem;
    /* display: inline-block; */
    float: left;
     /* position: absolute; */
}
.carouse2-btn{
    float: right;
    margin-bottom: 20px;
}
#carousel2 .carous2-prev{
    background-color: #9f9a9a;
    padding: 5px;
    border-radius: 0px;
    /* position: absolute;
    left: 92%; */
}
#carousel2 .carous2-next{
    background-color: #9f9a9a;
    padding: 5px;
    border-radius: 0px;
}
#carousel2 .card{
    display: inline-block;
    border: none !important;
    margin: 0 4px;
    width: 100% !important;
}
#carousel2 .card:hover img{
    filter: blur(4px);
}
.fa-link,.fa-search{
    background-color: #000000;
    width: 40px;
    height: 40px;
    color: #ffe300;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    top: 40%;
    opacity: 0;
}
.fa-search{
    left: 40%;
    transform: translateY(-150px);
    transition: 1s;
}
.fa-link{
    left: 53%;
    transform: translateY(120px);
    transition: 0.5s;
}
.fa-search:hover,.fa-link:hover{
    background-color: #fbe402;
    color: #2f2e2c;  
}
#carousel2 .card:hover .fa-search{
    opacity: 1; 
    transform: translateY(-30px);
}
#carousel2 .card:hover .fa-link{
    opacity: 1; 
    transform: translateY(-30px);
}
#carousel2 .card .card-body{
    background-color: #494949;
    text-align: center;
}
#carousel2 .card .card-body h1{
    background-image: url(../images/star_small.png);
    background-repeat: no-repeat;
    background-position: top center;
    color: #ffe300;
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px;
}
#carousel2 .card .card-body h3{
    font-size: 16px;
    color: #ccc;
    font-style: italic;
}

/* devider2 */

.devider2{
    background-color: #565656;
    padding: 50px 0px;
}
.devider2 h1{
    font-size: 1.5rem;
    color:#fff;
    text-transform: capitalize;
}
.devider2 ul{}
.devider2 ul li{
    width: 150px;
    height: 40px;
    background-color:#000000;
    color:#fff;
    text-align: center;
    line-height: 40px;
    margin: 5px;
}
.devider2 ul li::before{
    content: "\f105";
    font-family: "fontawesome";
    position: relative;
    left: -7px;
}
.devider2 ul li:hover{
    background-color: #ffe300;
    color: #000000;
    font-weight: bold;
}
.devider2 p{
    color:#fff;
    line-height: 22px;
}
.devider2 img{
    width: 100%;
}

/* gall */
.gall{
    background-color: #2f2e2c;
    padding: 50px 0px;
}
.gall img{
    width: 100%;
}
.gall-body{
    margin: 20px 0;
}
.gall .date-box{
    width: 50px;
    height: 50px;
    background-color: #ffe300;
    text-align: center;
    float: left;
    line-height: 16px;
    font-weight: bold;
}
.gall .date-box h3, .date-box p{
    color: #000000 !important;
    font-size: 20px !important;
}
.gall h2{
    color: #ffe300;
    font-size: 20px;
    margin-bottom: 20px;
}
.blog-head{
    transform: translateX(15px);
}
.blog-head h3{
    color:#fff;
    font-size: 1.5rem;
}
.blog-head p{
    color:#fff;
    font-size: 1rem;
    font-style: italic;
}

/* carousel3 */
.carous3{
    background-color: #565656;
    padding: 50px 0;;
}
#carousel3 h2{
    color: #ffe300;
    font-size: 20px;
    margin-bottom: 20px;
    float: left;
}
.carouse3-btn{
    float: right;
    margin-bottom: 20px;
}
.carouse3-btn .btn{
    background-color: #9f9a9a;
    padding: 5px;
    border-radius: 0px;
    border: none;
}
.carouse3-btn .btn:hover{
    background-color: #ffe300;
    color: #000000;
}
#carousel3 .box p{
    background-color: #2f2e2c;
    width: 150px;
    height: 55px;
    text-align: center;
    /* line-height: 40px; */
    color: #fff;
    text-transform: capitalize;
}

/* devider3 */
.devider3{
    background-color: #2f2e2c;
    padding: 50px 0;
}
.devider3 h3{
    color: #ffe300;
    font-size: 15px;
}
.devider3 ul{}
.devider3 ul li{}
.devider3 ul li a{
    color:#fff !important;
}
.devider3 ul li span{
    color: #9f9a9a;
}
.devider3 img{
    width: 60px;
    height: 60px;
    margin: 6px 6px;
}
/* footer */
footer{
    background-color: #4b4b4b;
    text-align: center;
    /* height: 50px; */
    line-height: 50px;
}
footer p{
    color: #fff;
    font-size: 15px;
}
footer ul li{
    display: inline-block;
}



/* responsive=>mobile first */
@media screen and (max-width:576px) {

    header {
        /* background-color: red; */
    }

    header nav{
        height: 72px;
    }
    header nav .slider1{
        background-color: rgb(86, 86, 86);
        text-align: center;
    }
    .carousel .carousel-caption{
        left: 5%;
    }
    #maincarousel .carousel-control-prev{
        left: 71%;

    }
    #maincarousel .carousel-control-next{
        left: 83%;
    }
    .devider1 .box-icon{
        float: left;
    }
    .devider1 .box-text{
        margin-left: 80px;
        float: none;
        width: auto;
    }
    .devider2 ul li{
        width: auto;
        margin: 5px;
    }
    .devider2 img{
        width: 60%;
        margin: 10% 20%;
    }
    .devider2 h1{
        text-align: center;
    }

    .gall .date-box{
       width: auto;
        float: none;
    }
    .blog-head{
        transform: translateX(15px);
        text-align: center;
    }
    #carousel3 h2{
      float: left;
    }
    #carousel3 .box p{
        width: auto;
    }

}
@media screen and (min-width: 577px) and (max-width: 768px) {

    header{
        /* background-color: green; */
    }

    header nav{
        height: 72px;
    }
    header nav .slider1{
        background-color: rgb(86, 86, 86);
        text-align: center;
    }
    .carousel .carousel-caption{
        left: 18%;
    }
    #maincarousel .carousel-control-prev{
        left: 71%;

    }
    #maincarousel .carousel-control-next{
        left: 81%;
    }
    .devider1 .box-icon{
        float: left;
    }
    .devider1 .box-text{
        margin-left: 80px;
        float: none;
        width: auto;
    }
    .devider2 ul li{
        width: auto;
        margin: 5px;
    }
    .devider2 img{
        width: 60%;
        margin: 10% 20%;
    }
    .devider2 h1{
        text-align: center;
    }

    .gall .date-box{
       width: auto;
        float: none;
    }
    .blog-head{
        transform: translateX(15px);
        text-align: center;
    }
    #carousel3 h2{
      float: left;
    }
    #carousel3 .box p{
        width: auto;
    }

}

@media screen and (min-width: 769px) and (max-width: 992px) {
    header{
        /* background-color: blue; */
    }

    header nav{
        height: 72px;
    }
    header nav .slider1{
        background-color: rgb(86, 86, 86);
        text-align: center;
    }
    .carousel .carousel-caption{
        left: 20%;
    }
    #maincarousel .carousel-control-prev{
        left: 71%;

    }
    #maincarousel .carousel-control-next{
        left: 81%;
    }
    .devider1 .box-icon{
        float: left;
    }
    .devider1 .box-text{
        margin-left: 80px;
        float: none;
        width: auto;
    }
    .devider2 ul li{
        width: auto;
        margin: 5px;
    }
    .devider2 img{
        width: 50%;
        margin: 10% 20%;
    }
    .devider2 h1{
        text-align: center;
    }

    .blog-head{
        transform: translateX(15px);
        text-align: center;
    }
    .blog-head h3{
        font-size: 1rem;
    }
    #carousel3 h2{
      float: left;
    }
    #carousel3 .box p{
        width: auto;
    }    
    .devider3 img {
        width: 50px;
        height: auto;
        margin: 5px -16px;
    }
        
}


@media screen and (min-width: 992px) and (max-width: 1200px) {
    header{
        /* background-color: yellow; */
    }
    .carousel .carousel-caption{
        left: 29%;
    } 
    .devider1 .box-icon{
        float: left;
    }
    .devider1 .box-text{
        margin-left: 80px;
        float: none;
        width: auto;
    }

    .fa-search{
        left: 38%;
    }
    .fa-link{
        left: 53%;
    }
}

@media screen and (min-width: 1200px) {
    header{
        /* background-color: pink; */
    }
    #maincarousel .carousel-control-next{
        left: 82%;
    }
}